<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Noticia</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>
    <header>
        <h1>Crear Nueva Noticia</h1>
    </header>

    <main>
        <form method="post">
            {% csrf_token %}
            <label for="titulo">Título:</label>
            <input type="text" id="titulo" name="titulo" required>

            <label for="contenido">Contenido:</label>
            <textarea id="contenido" name="contenido" required></textarea>

            <label for="lugar">Lugar:</label>
            <input type="text" id="lugar" name="lugar" required>

            <label for="categoria">Categoría:</label>
            <select id="categoria" name="categoria">
                <option value="tecnologia">Tecnología</option>
                <option value="deportes">Deportes</option>
                <option value="economia">Economía</option>
            </select>

            <button type="submit">Publicar Noticia</button>
        </form>
        <a href="{% url 'list_news' %}" class="btn-retroceso">Volver al Listado</a>
    </main>

    <footer>
        <p>&copy; 2025 El Diario Digital</p>
    </footer>
</body>
</html>
